on:
  workflow_call:
    inputs:
      AZURE_WEBAPP_NAME:
        required: true
        type: string
    secrets:
      AZURE_CREDENTIALS:
        required: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.x"

      - name: Build NET project
        run: |
          dotnet publish dotnet/Po.Community.Server -c Release -r linux-x64 -o publish

      - name: Login to azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to app service
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ inputs.AZURE_WEBAPP_NAME }}
          package: publish

      - name: Logout from azure
        run: |
          az logout
